.sectionSkills {

padding: 1rem 0rem;
background-color: rgba(0, 0, 0, 0.837);
box-shadow: 0 2px 4px rgba(0, 0, 0, 0.293);
font-family: "Poiret One", sans-serif;

}

.sectionSkills h2 {
margin: 1rem 2rem;
font-size: 2rem;
font-weight: bolder;
color: #ffff;

}

.skills {

margin: 2rem 2rem;
font-size: 2rem;
font-weight: bolder;
color: #ffff;
display: flex;
justify-content: space-around;
flex-wrap: wrap;
gap: 2rem;
}

.skills svg {

/* padding: 1rem; */
background-color: rgba(41, 41, 41, 0.195);

}