.sectionMyProjects {
  display: flex;
  background-color: rgba(0, 0, 0, 0.837);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.293);
  padding-bottom: 2rem;
}

.cardContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  /* flex-wrap: wrap; */
  gap: 1.6rem;
  /* padding: 0px 60px; */
}

.titleSection {
  margin: 2rem 2rem 1rem;
  font-size: 2rem;
  font-weight: bolder;
  color: #ffff;
  font-family: "Poiret One", sans-serif;
}

.cardProjects {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
  align-items: center;
  justify-items: center;
  gap: 4.6rem;
  padding: 0px 80px; 
}

.cardProjects  h2 {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: serif;
  margin: 0.4rem;
  color: #ffff;
  font-weight: 400;
}

.infoProjects {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap; 
  align-items: center;
  justify-content: center;
  background-color: rgb(50, 50, 50);
  gap: 1rem;
  margin: 0.4rem;
  padding: 1rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.296);
}

.infoProjects img {
  width: 21rem;
  height: 13rem;
  object-fit: cover;
  object-position: center;
  box-shadow: 0 2px 8px rgba(43, 37, 37, 0.497);
}

.infoProjects h2 {
  font-weight: 600;
  font-size: 1.4rem;
  color: #ffff;
  font-family: "Poiret One", sans-serif;
}

.infoProjects p {
  font-weight: 400;
  font-size: 1rem;
  color: #ffff;
  text-align: justify;
  margin: 0.5rem;
}

.buttonsCard {
display: flex;
flex-wrap: wrap;
align-items: center;
justify-content: center;
}

.buttonsCard a {
color: #ffff;
text-decoration: none;
padding: 10px;
margin: 1rem;
border-radius: 5px;
background-color: #0f0f0f;
box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Sombreamento discreto */
color: #fbf7f7; /* Cor do texto */
text-align: center;
font-family: "Poiret One", sans-serif;
font-size: 1.2rem;
/* Transições suaves */
transition: background-color 0.3s, box-shadow 0.3s;
}



@media screen and (max-width: 600px) {
  .card {
    width: 18rem;
    height: auto;
  }

  .card img {
    margin: 0 auto;
  }

  .cardElements {
    align-items: center;
    flex-wrap: wrap;
  }
}
