header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0.8rem;
    /* position: fixed; */
    background-color: #202020;
    font-family: "Poiret One", sans-serif;
  }
  
  
  header h2 {
    font-weight: 400;
    display: flex;
    justify-content: start;
    font-size: 2rem;
    color: #ffffff;
    margin-left: 1rem;
  }
  
  .nav {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: end;
    text-decoration: none;
    list-style: none;
    gap: 1rem;
    margin: 0 1rem;
  }
  
  .nav a {
    color: #fbf7f7;
    border: none;
    background-color: #17460500;
    text-decoration: none;
    font-family: "Poiret One", sans-serif;
    font-size: 1.4rem;
    font-weight: 400;
    margin: 0 1rem;
  }
  
  
  @media screen and (max-width: 600px) {
    header h2 {
      font-size: 1.4rem;
    }

}